:root{
    
    //COLORS
    --primary-color:#98651E;
    --primary-color-dark: #6E4B1F; 
    --primary-color-light: #F0D394;
    --primary-color-light-2: #C7A55B;

    --color-gray-light-1: #F5F5F5;
    --color-gray-light-2: #ced6e0;
    
    --color-gray-dark-1: #a4b0be;
    --color-gray-dark-2: #747d8c;
    --color-gray-dark-3: #2f3542;
    
}