.card {
  perspective: 150rem;
  -moz-perspective: 150rem;

  &:not(:last-child) {
    margin-right: 20rem;

    @media only screen and (max-width: $bp-large) {
      margin-right: 10%;
    }

    @media only screen and (max-width: $bp-small) {
      margin-right: 0;
      margin-bottom: 3rem;
    }
  }

  &__side {
    height: 46rem;
    transition: transform 0.8s ease;
    top: 0;
    left: 0;
    padding: 5rem;
    width: 31rem;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(black, 0.3);

    &--front {
      background-color: white;
    }

    &--back {
      position: absolute;
      transform: rotateY(180deg);

      &-1 {
        background-color: var(--primary-color-light);
      }
      &-2 {
        background-color: var(--primary-color-light-2);
      }
      &-3 {
        background-color: var(--primary-color);
      }
    }
  }

  &__rating {
    margin-top: 1rem;
  }

  &__star {
    height: 2rem;
    width: 2rem;
    fill: var(--primary-color-light);

    &:not(:last-child) {
      margin-right: 1rem;
    }
  }

  &__image {
    height: auto;
    width: 12rem;
  }

  &:hover &__side--front {
    transform: rotateY(-180deg);
  }

  &:hover &__side--back {
    transform: rotateY(0);
  }

  &__price-box {
    margin-bottom: 12rem;
  }
}
