.u-xs-mb {margin-bottom: 0.062%;}
.u-sm-mb {margin-bottom: 1.2%;}
.u-smmd-mb {margin-bottom: 6.3%;}
.u-md-mb {margin-bottom: 12.3%;}
.u-mdlg-mb {margin-bottom: 10rem;}
.u-lg-mb {margin-bottom: 12.2%;}

.u-smmd-mt{margin-top: 4rem;}